:root {
  --color-bg: #f1f1f1;
  --color-link: #000;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-height: 85px;
  background: var(--color-link);
  display: grid;
  place-items: center;
}

header a {
  text-decoration: none;
  color: var(--color-bg);
}

.nav {
  display: flex;
  gap: 30px;
}

header a:hover {
  text-decoration: underline;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-link);
}

main a:hover {
  text-decoration: underline;
}

main h1 {
  text-align: center;
}

footer {
  min-height: 22px;
}